:root {
  --main-text-color: #283249;
}

*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	font-family: "Avenir"; 
	padding-top: 7.3vw;
}
@font-face {
	font-family: "Avenir"; 
	src: url("../fonts/avenir/Avenir Roman.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}
@font-face {
	font-family: "AvenirBold"; 
	src: url("../fonts/AvenirNext-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}
@font-face {
	font-family: "Helvetica"; 
	src: url("../fonts/ofont.ru_Helvetica Neue.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}
.container{
	width: 45vw;
	margin: auto;
}
.to-top{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	right: -18vw;
	bottom: 4vw;
	width: 4vw;
	height: 4vw;
	border-radius: 100%;
	background: #fff;
	box-shadow: 0px 0px 15px -8px;
	cursor: pointer;
	overflow: hidden;
	transition: right .5s;
	z-index: 100;
}

.to-top img{
	width: 1vw;
	transition: transform .3s;
}
.to-top:hover img{
	transform: translateY(-.5vw) rotateY(180deg);
}

header{
	height: 7.3vw;
	background: #fff;
	width: 100%;
	position: fixed;
	z-index: 200;
	top: 0;
}
header .container{
	display: flex;
	height: 100%;
	align-items: center;
}
header .logo{
	width: 4.7vw;
	text-decoration: none;
}
header .logo img{
	width: 100%;
}
header .logo p{
	margin: 0;
	font-size: .67vw;
	margin-top: -.3vw;
	color: var(--main-text-color);

}
header .menu{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	margin-left: 5vw;
}
header .menu li a{
	text-decoration: none;
	font-size: .7vw;
	color: #747c8e;
	margin: 0 1vw;
	position: relative;
	padding-bottom: .3vw;
	cursor: pointer;
}
header .menu li a:before{
	content: '';
	position: absolute;
	height: 1px;
	bottom: 0;
	width: 100%;
	background: #929EB3;
	transform: scaleX(0);
	transition: .4s transform;
}
header .menu li a:hover:before{
	transform: scaleX(1);
}
header .soc-media{
	display: flex;
	align-items: center;
	margin: 0 1vw;
	z-index: 3;
}
header .soc-media a img{
	width: .7vw;
	height: .7vw;
	object-fit: contain;
}
header .soc-media a{
	margin: .1vw;
	transition: .3s padding;
}
header .soc-media a:hover{
	padding-bottom: .3vw;
}
.download{
	display: flex;
	align-items: center;
	font-size: .6vw;
	text-decoration: none;
	color: #5B677A;
	border: 1px solid #EBEBEB;
	border-radius: 4vw;
	padding: .4vw .6vw;
	position: relative;
	white-space: nowrap;
	z-index: 3;
}

.download img{
	width: 1vw;
	transition: .4s;
}
.download img:nth-child(1){
	width: 0;
}
.download:hover img:nth-child(1){
	width: 1vw;
	margin-right: .6vw;
}
.download img:nth-child(2){
	margin-left: .6vw;
}
.download:hover img:nth-child(2){
	width: 0;
	margin: 0;
}
.top-ablosute-img{
	width: 100%;
	position: absolute;
	top: 6vw;
	z-index: -1;
}
.absolute-icon{
	width: 10vw;
	position: absolute;
	top: 26.5vw;
	right: 9vw;
}
.top-section{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 5vw;
	height: 23vw;
}
.top-section .info{
	width: 21vw;
}
.top-section .info h1{
	font-size: 2.6vw;
	font-weight: 400;
	color: var(--main-text-color);
	margin: 0;
}
.top-section .info h1 b{
	font-family: "AvenirBold"; 
}
.top-section .info .text{
	margin: 0;
	margin-top: 1vw;
	font-size: .8vw;
	font-weight: 800;
	width: 90%;
	color: #6E778D;
}
.top-section .info .join{
	margin-top: 1.6vw;
	display: inline-block;
	padding: .6vw;
	font-size: .9vw;
	color: #fff;
	text-decoration: none;
	transition: .6s;
	background: linear-gradient(45deg, #5EEDC3, #01DABA);
	border: 1px solid #5EEDC3;
}
.top-section>video{
	width: 37vw;
	height: 37vw;
	margin-right: -16vw;
	margin-top: -8vw;
	z-index: -2;
}
.top-section .info .join:hover{
	background: #fff;
	color: #5EEDC3;
}
.parthners-header{
	font-size: .8vw;
	color: var(--main-text-color);
	text-align: center;
	margin: 0;
}
.parthners-imgs{
	width: 80%;
	margin: 0 auto;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1vw;
}
.parthners-imgs .img{
	width: 31%;
	background: #fff;
	height: 5.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 30px -20px var(--main-text-color);
}
.parthners-imgs .img img{
	width: 75%;
	object-fit: contain;
	height: 2vw;
}
.parthners-imgs .img:nth-child(2) img{
	height: 1.2vw;
	width: 55%;
}
.introdnucing-header{
	font-size: 1.8vw;
	color: var(--main-text-color);
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-weight: 400;
	margin-top: 7vw;
}
.introdnucing-header span,
.advantage-2 .info h2 span,
.partners h2 span,
.benefits .container>.info h2 span,
.top-section .info h1 span{
	color: #02DABA;
}
.advantages{
	display: flex;
	justify-content: space-between;
	margin-top: 3vw;
}
.advantage{
	width: 30%;
}
.advantage img{
	width: 8.5vw;
	display: block;
	margin: 0 auto;
}
.advantage p{
	font-size: 1vw;
	text-align: center;
	color: var(--main-text-color);
	margin: 0;
	margin-top: 1vw;
}
.advantage h2{
	width: 100%;
	height: 8vw;
	padding: .5vw;
	font-size: .8vw;
	line-height: 1.2vw;
	color: #6E778D;
	font-weight: 400;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	margin: 0;
	margin-top: .4vw;
}
.arrow-down-cont{
	width: 100%;
	margin-top: 1vw;
	border-top: 1px solid #e1e1e1;
}
.arrow-down{
	width: 2vw;
	height: 2vw;
	border-radius: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #e1e1e1;
	background: #fff;
}
.arrow-down img{
	width: .7vw;
}
.advantages-2{
	position: relative;
	margin-top: 2vw;
	
}
.advantages-2-img{
	position: absolute;
	width: 54%;
	left: -5%;
	top: -1vw;
}
.advantage-2{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 6vw;
}
.advantage-2 .info{
	width: 44%;
}
.advantage-2>img{
	width: 46%;
}
.advantage-2 .info h1{
	font-size: 2.4vw;
	color: #fff;
	-webkit-text-stroke: .5px #B3B3B3;
	font-family: "Helvetica"; 
	margin: 0;
}
.advantage-2 .info h2{
	font-size: 1.7vw;
	font-weight: 400;
	color: var(--main-text-color);
	letter-spacing: 0.03em;
	margin: 0;
	margin-top: 1vw;
}
.advantage-2 .info p{
	width: 100%;
	margin: 0;
	margin-top: .4vw;
	font-size: .8vw;
	line-height: 1.2vw;
	color: #6E778D;
}
.advantage-2 .info a{
	display: flex;
	align-items: center;
	font-size: .9vw;
	text-decoration: none;
	color: #000;
	border-radius: 4vw;
	padding: .4vw 0;
	position: relative;
	white-space: nowrap;
}

.advantage-2 .info a img{
	width: 1.3vw;
	transition: .4s;
}
.advantage-2 .info a img:nth-child(1){
	width: 0;
}
.advantage-2 .info a:hover img:nth-child(1){
	width: 1.3vw;
	margin-right: .6vw;
}
.advantage-2 .info a img:nth-child(2){
	margin-left: .6vw;
}
.advantage-2 .info a:hover img:nth-child(2){
	width: 0;
	margin: 0;
}
.electro-inform-block{
	width: 100%;
	position: relative;
	margin-top: 12vw;
}
.big-video-cont{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	display: none;
	opacity: 0;
	transition: opacity .4s;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0, .3);
	z-index: 300;
}
.big-video-cont .big-video-clouse{
	width: 2vw;
	height: 2vw;
	top: 3vw;
	right: 3vw;
	position: absolute;
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 350;
}
.big-video-cont .big-video-clouse span{
	width: 2vw;
	height: 3px;
	background: #333333;
	position: absolute;
	border-radius: .2vw;
	transition: .3s;
}
.big-video-cont .big-video-clouse:hover span{
	width: 2.5vw;
	margin-left: -.25vw;
}
.big-video-cont .big-video-clouse span:nth-child(1){
	transform: rotate(45deg);
}
.big-video-cont .big-video-clouse span:nth-child(2){
	transform: rotate(-45deg);
}
.big-video-cont .big-video{
	width: 80vw;
	background: #94FCEC;
	padding: .5vw;
	border-radius: .5vw;
	transform: scale(.1);
	transition: transform .4s;
	z-index: 350;
}
.big-video-cont .big-video-fon{
	z-index: 310;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.big-video-cont .big-video video{
	width: 100%;
}
.electro-inform-block .bg-img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 18vw;
	object-fit: cover;
}
.electro-inform-block .mob-img{
	display: none;
}
.electro-inform-block .electro-cont{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 18vw;
}
.electro-inform-block .electro-cont .info{
	aspect-ratio: 16/9;
	margin-left: 66%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.electro-inform-block .electro-cont .info .play-cont{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6vw;
	height: 6vw;
	border-radius: 100%;
	transition: .4s;
	background: rgba(255,255,255, .6);
	cursor: pointer;
}
.electro-inform-block .electro-cont .info .play-cont img{
	position: absolute;
	margin-left: .5vw;
	width: 3vw;
}
.electro-inform-block .electro-cont .info .poster{
	position: static;
	display: block;
	width: 100%;
	height: 100%;
}
.electro-inform-block .electro-cont .info .play{
	z-index: 10;
	transition: .4s;
}
.electro-inform-block .electro-cont .info .play-hover{
	z-index: 5;
}
.electro-inform-block .electro-cont .info .play-cont:hover{
	background: rgba(255,255,255, 0);
}
.electro-inform-block .electro-cont .info .play-cont:hover .play{
	opacity: 0;
}
.electro-inform-block .electro-cont .info .btns{
	display: flex;
	margin-top: 2.4vw;
}
.electro-inform-block .electro-cont .info a{
	font-size: 1vw;
	text-decoration: none;
	color: #283249;
	font-weight: 800;
	padding: .7vw;
	background: #fff;
	display: block;
	border-radius: 2px;
	transition: .3s;
}
.electro-inform-block .electro-cont .info a:nth-child(1){
	background: #283249;
	color: #F8FAFC;
}
.electro-inform-block .electro-cont .info a:hover{
	background: #f8f8f8;
}
.electro-inform-block .electro-cont .info a.invest{
	margin-left: 1vw;
}
.electro-inform-block .electro-cont .info a:nth-child(1):hover{
	background:  #284269;
}
.electro-inform-block .electro-cont .info h2 b{
	font-family: "AvenirBold"; 
}

.partners{
	position: relative;
	margin-top: -2vw;
	padding-top: 1vw;
}
.partners-bg-img{
	position: absolute;
	top: 0;
	width: 56%;
	left: 19%;
	z-index: -1;
}
.partners h2{
	font-size: 1.9vw;
	text-align: center;
	font-weight: 400;
	margin: 0;
	color: var(--main-text-color);
	margin-top: 5vw;
}
.partners-img{
	width: 80%;
	margin: 0 auto;
	display: block;
	margin-top: 3vw;
}
.benefits{
	background: #F8FAFC;
	height: 24vw;
	margin-top: 9vw;
}
.benefits .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.benefits .container>.info{
	width: 14vw;
	height: 13vw;
}
.benefits .container>.info h2{
	font-size: 2vw;
	color: var(--main-text-color);
	margin: 0;
	font-weight: 400;
}
.benefits .container>.info p{
	font-size: .85vw;
	color: #6E778D;
	line-height: 1.3vw;
	margin: 0;
	margin-top: .7vw;
	font-weight: 800;
}
.benefits .cards{
	display: flex;
	justify-content: flex-end;
	width: 40vw;
	margin-right: -13vw;
}
.benefits .benefit{
	width: 12.7vw;
	background: #fff;
	padding: 1.5vw;
	margin-left: 1vw;
	box-shadow: 0 0 30px -20px var(--main-text-color);
}
.benefits .benefit .img{
	height: 2.8vw;
}
.benefits .benefit h3{
	font-size: 1vw;
	height: 2.4vw;
	margin: 0;
	margin-top: .2vw;
	display: flex;
	align-items: flex-end;
}
.benefits .benefit p{
	font-size: .8vw;
	line-height: 1.2vw;
	height: 9vw;
	margin: 0;
	margin-top: .5vw;
	font-weight: 400;
	color: #6E778D;
}
.our-team-title{
	text-align: center;
	font-weight: 400;
	font-size: 2vw;
	color: var(--main-text-color);
	margin: 0;
	margin-top: 6.25vw;
}
.our-team{
	width: 80vw;
	margin-left: 10vw;
	display: flex;
	margin-top: 5vw;
}
.our-team .employee{
	display: flex;
	align-items: flex-start;
	width: 25vw;
	margin-right: 5vw;
}
.our-team .employee .img{
	width: 6.5vw;
	border-radius: 100%;
	aspect-ratio: 1/1;
}
.our-team .employee .info{
	margin-left: 1vw;
}
.our-team .employee h2{
	font-size: .9vw;
	margin: 0;
	font-weight: 800;
}
.our-team .employee span{
	margin: 0;
	font-size: .5vw;
	color: #6E778D;
}
.our-team .employee p{
	font-weight: 400;
	font-size: .8vw;
	line-height: 1.2vw;
	color: #6E778D;
	margin: 0;
	margin-top: .7vw;
}
.form-cont{
	position: relative;
	width: 100%;
	margin-top: 7vw;
	padding-top: 3.5vw;
}
.form-cont .form-img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.form-cont h2{
	color: #f5f5f5;
	font-size: 2vw;
	font-weight: 400;
	margin: 0;
	text-align: center;
}
.form-cont p{
	color: #e1e1e1;
	width: 17vw;
	margin: 0 auto;
	text-align: center;
	margin-top: .6vw;
	font-size: .9vw;
	line-height: 1.5vw;
}
.form-cont form{
	background: #fff;
	padding: 3vw; 
	margin-top: 1.5vw;
}
.cont-inpts{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cont-inpt{
	width: 18.5vw;
	display: flex;
	flex-direction: column;
}
.form-cont label{
	font-size: .7vw;
	color: var(--main-text-color);
	font-weight: 800;
	margin: 0;
}
.form-cont input{
	width: 100%;
	border: none;
	height: 2.2vw;
	background: #f5f5f5;
	color: #5B677A;
	font-size: .6vw;
	margin-top: .5vw;
	margin-bottom: 1.1vw;
	padding-left: .5vw;
}
.form-cont button{
	padding: .7vw 1.5vw;
	color: #fff;
	border: none;
	margin: 0 auto;
	margin-top: .5vw;
	font-size: .8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition: .3s;
	background: none;
	z-index: 2;
	border: 1px solid #fff;
	background: none;
}
.form-cont button:before{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background: linear-gradient(-90deg, #3C82EF, #9EBDE3);
	z-index: -1;
	transition: .3s;
}
.form-cont button:after{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	background: linear-gradient(-90deg, #9EBDE3, #3C82EF);
	z-index: -2;
}
.form-cont button:hover:before{
	opacity: 0;
}
.partners .parthners-imgs{
	margin-top: 4vw;
}
footer{
	position: relative;
	margin-top: 10vw;
}
footer .container{
	display: flex;
	justify-content: space-between;
}
.footer-img{
	position: absolute;
	width: 40%;
	left: 23%;
	top: 0;
	z-index: -1;
}
footer .parthners-imgs{
	width: 33vw;
	margin: 0 auto;
	margin-bottom: 3vw;
}
footer .parthners-imgs .img{
	box-shadow: none;
	background: none;
}
footer .about{
	width: 13vw;
}
footer .about>img{
	width: 6vw;
}
footer .about .mail{
	color: var(--main-text-color);
	font-size: .7vw;
	margin: 0;
	font-weight: 800;
	margin-top: 1vw;
	text-decoration: none;
}
footer .about .phone{
	margin: 0;
	margin-top: .8vw;
	color: #929EB3;
	font-weight: 800;
	font-size: .7vw;
}
footer .about .address{
	font-size: .7vw;
	line-height: 1vw;
	color: #929EB3;
	margin: 0;
	margin-top: 2vw;
}
.links-cont{
	display: flex;
	justify-content: space-between;
	width: 16vw;
}
footer .links{
	width: 8vw;
	margin-left: -2.5vw;
}
footer .links h2{
	color: var(--main-text-color);
	font-size: 1vw;
	margin: 0;
}
footer .links a{
	margin: 0;
	font-size: .7vw;
	color: var(--main-text-color);
	display: block;
	text-decoration: none;
	margin: 1.2vw 0;
	font-weight: 800;
	padding-right: .4vw;
	transition: .3s padding;
	cursor: pointer;
}
footer .links a:hover{
	padding-left: .4vw;
	padding-right: 0;
}
footer .download{
	background: #fff;
	color: var(--main-text-color);
}
.soc-netw-footer{
	width: 9.4vw;
	padding-top: 5vw;
}
.soc-netw-footer .netws{
	display: flex;
	align-items: center;
	margin-top: 1vw;
}
.soc-netw-footer .netws a{
	height: 1vw;
	width: 1vw;
	margin-left: .6vw;
	transition: .2s ;
}
.soc-netw-footer .netws a:hover{
	height: 1.3vw;
	padding-bottom: .3vw;
	margin-top: -.3vw;
}
.soc-netw-footer .netws a img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
footer .bottom-section{
	border-top: 1px solid #e1e1e1;
	height: 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2vw;
	color: var(--main-text-color);
	font-size: .8vw;
}

@media(max-width: 767px){
.container{
	width: 90%;
}
.electro-inform-block .electro-cont .info img{
	width: 6vw;
	height: 6vw;
}
.big-video-cont .big-video-clouse span{
	width: 6vw;
}
.big-video-cont .big-video-clouse:hover span{
	width: 6vw;
	margin: 0;
}
.big-video-cont .big-video-clouse{
	width: 8vw;
	height: 8vw;
}
header{
	flex-direction: column;
	padding-top: 3vw;
	height: unset;
	transition: 1s;
}
header .logo{
	width: 30vw;
	margin: 0 auto;
}
header .logo p{
	font-size: 4.3vw;
	margin-top: -1vw;
}
header .menu{
	margin-top: 3vw;
	margin-left: 0;
	width: 95vw;
	justify-content: space-between;
}
header .menu li a{
	font-size: 5vw;
	margin: 0 2.5vw;
}
header .soc-media a{
	margin: 1vw;
	margin-top: 3vw;
}
header .soc-media a img{
	width: 5vw;
	height: 5vw;
}
.parthners-imgs{
	flex-direction: column;
	margin-top: 5vw;
}
.parthners-imgs .img{
	width: 100%;
	height: 20vw;
	margin-bottom: 7vw;
}
.download{
	padding: 2vw 4vw;
	font-size: 3vw;
	border-radius: 30vw;
	border: 2px solid #EBEBEB;
	margin-top: 2vw;
}
.parthners-imgs .img img{
	height: 7vw;
	width: 45%;
}
.parthners-imgs .img:nth-child(2) img{
	height: 6vw;
	width: 40%;
}
.download img{
	width: 6vw;
}
.download img:nth-child(2){
	margin-left: 3vw;
}
.download:hover img:nth-child(1){
	width: 6vw;
	margin-right: 3vw;
}
.top-ablosute-img,
.absolute-icon{
	display: none;
}
.top-section{
	flex-direction: column;
	height: unset;
	margin-top: 33vw;
	overflow: hidden;
}
.top-section .info h1{
	font-size: 12vw;
}
.top-section .info{
	width: 100%;
}
.top-section .info .text{
	margin-top: 4vw;
	font-size: 5vw;
}
.top-section .info .join{
	font-size: 5.5vw;
	padding: 4vw 5vw;
	margin-top: 6vw;
}
.top-section>video{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	transform: scale(1.2);
}
.parthners-header{
	font-size: 4vw;
	margin: 3vw 0;
}
.introdnucing-header{
	font-size: 6vw;
	width: 100%;
}
header .download{
	display: none;
}
header .container,
footer .container{
	flex-direction: column;
}
.benefits .container{
	flex-direction: column;
}
.advantages{
	flex-direction: column;
}
.advantage{
	width: 70%;
	margin: 3vw auto;
}
.advantage img{
	width: 35vw;
}
.advantage p{
	font-size: 4vw;
	margin-top: 2vw;
}
.advantage h2{
	height: unset;
	padding: 0;
	font-size: 3vw;
	line-height: 4vw;
	margin-top: 2vw;
}
.advantages-2{
	overflow: hidden;
}
.advantages-2-img{
	display: none;
}
.advantage-2{
	flex-direction: column-reverse;
}
.advantage-2:nth-child(3){
	flex-direction: column;
}
.advantage-2 .info,
.advantage-2>img{
	width: 80%;
}
.advantage-2 .info h1{
	font-size: 10vw;
}
.advantage-2 .info h2{
	font-size: 5vw;
	margin-top: 2vw;
}
.advantage-2 .info p{
	font-size: 3vw;
	line-height: 4vw;
	margin-top: 2vw;
}
.advantage-2 .info a{
	font-size: 4vw;
	padding: 2vw 0;
}
.advantage-2 .info a img:nth-child(2){
	width: 5vw;
	margin-left: 2vw;
}
.advantage-2 .info a:hover img:nth-child(1){
	width: 5vw;
	margin-right: 2vw;
}
.electro-inform-block .electro-cont{
	flex-direction: column;
}
.arrow-down{
	width: 10vw;
	height: 10vw;
}
.arrow-down img{
	width: 2.5vw;
}
.arrow-down-cont{
	margin-top: 10vw;
}
.partners h2{
	font-size: 5vw;
	margin-bottom: 10vw;
}
.partners-bg-img{
	width: 100%;
	left: 0;
	margin: 0;
}
.benefits .cards{
	margin-right: 0;
	margin-top: 5vw;
	flex-direction: column;
	width: 65%;
}
.benefits{
	height: unset;
	padding: 6vw 0;
	overflow: hidden;
	margin: 0;
}
.benefits .container>.info{
	width: 80%;
	height: unset;
}
.benefits .container>.info h2{
	font-size: 6vw;
}
.benefits .container>.info p{
	margin-top: 4vw;
	font-size: 3vw;
	line-height: 4vw;
}
.benefits .benefit{
	width: 100%;
	margin-bottom: 6vw;
	padding: 4vw;
}
.benefits .benefit .img{
	height: 20vw;
}
.benefits .benefit h3{
	height: unset;
	font-size: 6vw;
	margin-top: 2vw;
}
.benefits .benefit p{
	font-size: 3vw;
	line-height: 4vw;
	height: unset;
	margin-top: 2vw;
}
.our-team-title{
	font-size: 7vw;
}
.our-team{
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	margin-top: 7vw;
}
.our-team .employee{
	width: 100%;
	margin: 0;
	margin-bottom: 10vw;
}
.our-team .employee .img{
	width: 20vw;
}
.our-team .employee h2{
	font-size: 5vw;
}
.our-team .employee .info{
	margin-left: 5vw;
}
.our-team .employee span{
	font-size: 3vw;
}
.our-team .employee p{
	font-size: 3vw;
	line-height: 4vw;
	margin-top: 2vw;
}
.form-cont {
	padding: 10vw 0;
}
.form-cont .form-img{
	height: 100%;
	object-fit: cover;
}
.form-cont h2{
	font-size: 5vw;
}
.form-cont p{
	width: 70vw;
	font-size: 3.5vw;
	line-height: 4.5vw;
	margin-top: 3vw;
}
.cont-inpts{
	flex-direction: column;
}
.cont-inpt{
	width: 100%;
}
.electro-inform-block .electro-cont .info .play-cont{
	width: 12vw;
	height: 12vw;
}
.electro-inform-block .electro-cont .info .play-cont img{
	width: 6vw;
}
.form-cont form{
	padding: 5vw;
	margin-top: 4vw;
}
.form-cont label{
	font-size: 3.5vw;
}
.form-cont input{
	height: 10vw;
	margin-top: 1.5vw;
	font-size: 4vw;
	padding-left: 3vw;
	margin-bottom: 5vw;
}
.form-cont button{
	font-size: 4vw;
	padding: 2vw 8vw;
}
footer .parthners-imgs{
	width: 50vw;
}
footer .parthners-imgs .img{
	box-shadow: 0 0 30px -20px var(--main-text-color);
	background: #fff;
}
.footer-img{
	width: 100%;
	left: 0;
}
footer .about{
	width: 100%;
}
footer .about>img{
	width: 30vw;
	margin: 0 auto;
	display: block;
	margin-bottom: 4vw;
}
footer .about .mail{
	margin-top: 4vw;
	font-size: 4vw;
}
footer .about .phone{
	margin-top: 3vw;
	font-size: 4vw;
}
footer .about .address{
	margin-top: 3vw;
	font-size: 3vw;
	line-height: 4vw;
}
footer .links{
	width: 100%;
	margin: 0;
	margin-top: 3vw;
}
footer .links h2{
	font-size: 5vw;
}
footer .links a{
	font-size: 3.5vw;
	margin: 2.5vw 0;
}
.soc-netw-footer{
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .download{
	width: 50vw;
}
.soc-netw-footer .netws a{
	height: 4vw;
	width: 4vw;
	margin: 0;
	margin-right: 2vw;
}
footer .bottom-section{
	height: 12vw;
	font-size: 3vw;
	margin-top: 8vw;
}
.electro-inform-block{
	
}
.electro-inform-block .electro-cont{
	padding: 10vw 0;
	height: 100vw;
}
.electro-inform-block .bg-img{
	display: none;
}
.electro-inform-block .electro-cont .info h2{
	font-size: 6vw;
}
.electro-inform-block .electro-cont .info p{
	font-size: 4vw;
	line-height: 5vw;
	margin-top: 3vw;
}
.electro-inform-block .electro-cont .info{
	margin: 0;
	margin-top: 45vw;
	width: 80%;
	box-shadow: 0px 0px 10px -5px;
}
.electro-inform-block .electro-cont .info a{
	font-size: 3vw;
	padding: 2vw;
	margin-right: 1vw;
}
.electro-inform-block .mob-img{
	width: 100%;
    height: 100%;
    top: 0;
    display: block;
    position: absolute;
    z-index: -1;
}
.electro-inform-block .electro-cont .info .btns{
	margin-top: 8vw;
}
.big-video-cont .big-video{
	width: 90vw;
}
.links-cont{
	width: 100%;
	margin: 3vw 0;
}
.to-top{
	width: 17vw;
	height: 17vw;
	right: -18vw;
	bottom: 6vw;
}
.to-top img{
	width: 4vw;
}
}